In [42]:
#!kaggle datasets download -d arashnic/baseballdatabank

import pandas as pd
import numpy as np

In [43]:
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)

In [44]:

hallOfFame = pd.read_csv("HallOfFame.csv", sep=",", header="infer")

hallOfFame.head()
type(hallOfFame['playerID'])
hallOfFame

       playerID  yearid   votedBy  ballots  needed  votes inducted           category needed_note
0     cobbty01   1936    BBWAA     226.0    170.0   222.0  Y        Player             NaN
1     ruthba01   1936    BBWAA     226.0    170.0   215.0  Y        Player             NaN
2     wagneho01  1936    BBWAA     226.0    170.0   215.0  Y        Player             NaN
3     mathech01  1936    BBWAA     226.0    170.0   205.0  Y        Player             NaN
4     johnswa01  1936    BBWAA     226.0    170.0   189.0  Y        Player             NaN
...         ...   ...      ...       ...      ...     ... ..           ...             ...
4151  guillca01  2017    BBWAA     442.0    332.0   0.0    N        Player             NaN
4152  burrepa01  2017    BBWAA     442.0    332.0   0.0    N        Player             NaN
4153  stairma01  2017    BBWAA     442.0    332.0   0.0    N        Player             NaN
4154  seligbu99  2017    Veterans NaN      NaN     NaN     Y        Pioneer/Executive  NaN
4155  schurjo99  2017    Veterans NaN      NaN     NaN     Y        Pioneer/Executive  NaN

[4156 rows x 9 columns]

In [45]:
hallOfFame.shape

(4156, 9)

In [46]:
hallOfFame.describe().T

          count         mean         std     min     25%     50%     75%     max
yearid   4156.0  1969.306304  23.231639   1936.0  1950.0  1966.0  1988.0  2017.0
ballots  3961.0  321.746529   125.455368  78.0    226.0   274.0   427.0   581.0
needed   3804.0  244.776551   94.497219   59.0    175.0   213.0   323.0   436.0
votes    3961.0  51.465791    85.473954   0.0     2.0     10.0    64.0    555.0

In [47]:
hallOfFame.dtypes

playerID       object
yearid         int64
votedBy        object
ballots        float64
needed         float64
votes          float64
inducted       object
category       object
needed_note    object
dtype: object

In [48]:
cols_obj = [cols for cols in hallOfFame.columns if str(hallOfFame[cols].dtype)=="object" ]

cols_obj

hallOfFame[cols_obj].describe().T

            count unique        top  freq
playerID     4156  1260   roushed01  20
votedBy      4156  9      BBWAA      3723
inducted     4156  2      N          3839
category     4156  4      Player     4031
needed_note  157   2      1st        81

In [49]:
hallOfFame.isnull().sum()

playerID       0
yearid         0
votedBy        0
ballots        195
needed         352
votes          195
inducted       0
category       0
needed_note    3999
dtype: int64

In [50]:
batting = pd.read_csv("Batting.csv", header= "infer", sep=",")

batting.head()

    playerID  yearID  stint teamID lgID   G   AB   R   H  2B  3B  HR   RBI   SB   CS  BB   SO  IBB  HBP  SH  SF  GIDP
0  abercda01  1871    1      TRO    NaN  1   4    0   0   0   0   0   0.0   0.0  0.0  0   0.0 NaN  NaN  NaN NaN NaN
1  addybo01   1871    1      RC1    NaN  25  118  30  32  6   0   0   13.0  8.0  1.0  4   0.0 NaN  NaN  NaN NaN NaN
2  allisar01  1871    1      CL1    NaN  29  137  28  40  4   5   0   19.0  3.0  1.0  2   5.0 NaN  NaN  NaN NaN NaN
3  allisdo01  1871    1      WS3    NaN  27  133  28  44  10  2   2   27.0  1.0  1.0  0   2.0 NaN  NaN  NaN NaN NaN
4  ansonca01  1871    1      RC1    NaN  25  120  29  39  11  3   0   16.0  6.0  2.0  2   1.0 NaN  NaN  NaN NaN NaN

In [51]:
batting.shape

(102816, 22)

In [52]:
batting.describe().T

           count         mean         std     min     25%     50%     75%     max
yearID  102816.0  1964.262313  38.856297   1871.0  1934.0  1973.0  1998.0  2016.0
stint   102816.0  1.077838     0.284366    1.0     1.0     1.0     1.0     5.0
G       102816.0  51.343439    47.121658   1.0     13.0    34.0    80.0    165.0
AB      102816.0  141.905511   184.654492  0.0     4.0     49.0    231.0   716.0
R       102816.0  18.815544    28.242983   0.0     0.0     4.0     27.0    192.0
H       102816.0  37.139930    52.603757   0.0     0.0     9.0     58.0    262.0
2B      102816.0  6.289167     9.662468    0.0     0.0     1.0     9.0     67.0
3B      102816.0  1.293252     2.645770    0.0     0.0     0.0     1.0     36.0
HR      102816.0  2.813599     6.304919    0.0     0.0     0.0     2.0     73.0
RBI     102392.0  17.003975    26.352011   0.0     0.0     3.0     24.0    191.0
SB      101516.0  2.976821     7.717174    0.0     0.0     0.0     2.0     138.0
CS      79360.0   1.226008     2.747377    0.0     0.0     0.0     1.0     42.0
BB      102816.0  13.067207    20.746460   0.0     0.0     3.0     18.0    232.0
SO      94978.0   20.529712    28.328542   0.0     1.0     9.0     29.0    223.0
IBB     66251.0   1.105870     2.780187    0.0     0.0     0.0     1.0     120.0
HBP     100006.0  1.056057     2.276251    0.0     0.0     0.0     1.0     51.0
SH      96478.0   2.299540     4.241095    0.0     0.0     0.0     3.0     67.0
SF      66782.0   1.054101     1.961732    0.0     0.0     0.0     1.0     19.0
GIDP    76706.0   2.981018     4.735153    0.0     0.0     0.0     4.0     36.0

In [53]:
batting.dtypes

playerID    object
yearID      int64
stint       int64
teamID      object
lgID        object
G           int64
AB          int64
R           int64
H           int64
2B          int64
3B          int64
HR          int64
RBI         float64
SB          float64
CS          float64
BB          int64
SO          float64
IBB         float64
HBP         float64
SH          float64
SF          float64
GIDP        float64
dtype: object

In [54]:
cols_obj = [cols for cols in batting.columns if str(batting[cols].dtype)=="object" ]

cols_obj

batting[cols_obj].describe().T

           count unique        top   freq
playerID  102816  18915  mcguide01  31
teamID    102816  149    CHN        4863
lgID      102079  6      NL         52134

In [55]:
batting.isnull().sum()

playerID    0
yearID      0
stint       0
teamID      0
lgID        737
G           0
AB          0
R           0
H           0
2B          0
3B          0
HR          0
RBI         424
SB          1300
CS          23456
BB          0
SO          7838
IBB         36565
HBP         2810
SH          6338
SF          36034
GIDP        26110
dtype: int64

In [56]:
pitching = pd.read_csv("Pitching.csv", sep=",", header="infer")

pitching.head()

    playerID  yearID  stint teamID lgID   W   L   G  GS  CG  SHO  SV  IPouts    H   ER  HR  BB  SO  BAOpp    ERA  IBB  WP  HBP  BK  BFP  GF    R  SH  SF  GIDP
0  bechtge01  1871    1      PH1    NaN  1   2   3   3   2   0    0   78      43   23   0   11  1  NaN     7.96  NaN  NaN NaN   0  NaN  NaN  42  NaN NaN NaN
1  brainas01  1871    1      WS3    NaN  12  15  30  30  30  0    0   792     361  132  4   37  13 NaN     4.50  NaN  NaN NaN   0  NaN  NaN  292 NaN NaN NaN
2  fergubo01  1871    1      NY2    NaN  0   0   1   0   0   0    0   3       8    3    0   0   0  NaN     27.00 NaN  NaN NaN   0  NaN  NaN  9   NaN NaN NaN
3  fishech01  1871    1      RC1    NaN  4   16  24  24  22  1    0   639     295  103  3   31  15 NaN     4.35  NaN  NaN NaN   0  NaN  NaN  257 NaN NaN NaN
4  fleetfr01  1871    1      NY2    NaN  0   1   1   1   1   0    0   27      20   10   0   3   0  NaN     10.00 NaN  NaN NaN   0  NaN  NaN  21  NaN NaN NaN

In [57]:
pitching.shape

(44963, 30)

In [58]:
pitching.describe().T

          count         mean         std     min       25%      50%       75%      max
yearID  44963.0  1968.670062  37.569499   1871.0  1941.000  1978.00  2001.000  2016.00
stint   44963.0  1.079643     0.284834    1.0     1.000     1.00     1.000     4.00
W       44963.0  4.715744     5.813410    0.0     0.000     2.00     7.000     59.00
L       44963.0  4.715722     4.988846    0.0     1.000     3.00     8.000     48.00
G       44963.0  23.681761    18.493488   1.0     7.000     21.00    35.000    106.00
GS      44963.0  9.485488     12.283920   0.0     0.000     3.00     17.000    75.00
CG      44963.0  3.151035     7.081844    0.0     0.000     0.00     3.000     75.00
SHO     44963.0  0.448591     1.109742    0.0     0.000     0.00     0.000     16.00
SV      44963.0  1.504793     4.991518    0.0     0.000     0.00     1.000     62.00
IPouts  44963.0  253.872139   257.330446  0.0     49.000    167.00   393.000   2040.00
H       44963.0  84.912439    84.589269   0.0     18.000    55.00    134.000   772.00
ER      44963.0  36.103863    33.431186   0.0     9.000     25.00    58.000    291.00
HR      44963.0  6.434201     6.988237    0.0     1.000     4.00     9.000     50.00
BB      44963.0  29.905300    28.172268   0.0     8.000     21.00    45.000    289.00
SO      44963.0  46.500856    49.345046   0.0     8.000     31.00    68.000    513.00
BAOpp   43437.0  0.319920     0.710482    0.0     0.236     0.26     0.298     9.99
ERA     44874.0  5.073269     5.318781    0.0     3.150     4.14     5.510     189.00
IBB     30388.0  2.411379     2.772648    0.0     0.000     2.00     4.000     23.00
WP      44830.0  2.528575     3.425706    0.0     0.000     1.00     4.000     63.00
HBP     44405.0  2.266096     2.998881    0.0     0.000     1.00     3.000     41.00
BK      44963.0  0.301604     0.755523    0.0     0.000     0.00     0.000     16.00
BFP     44724.0  343.312181   348.758261  0.0     64.000    227.00   535.000   2906.00
GF      44830.0  6.345260     9.993949    0.0     0.000     3.00     8.000     84.00
R       44963.0  43.021773    43.245812   0.0     11.000    28.00    67.000    519.00
SH      12063.0  2.141922     2.710191    0.0     0.000     1.00     3.000     21.00
SF      12063.0  1.878388     2.121352    0.0     0.000     1.00     3.000     14.00
GIDP    12061.0  5.322610     5.990178    0.0     1.000     3.00     8.000     40.00

In [59]:
pitching.dtypes

playerID    object
yearID      int64
stint       int64
teamID      object
lgID        object
W           int64
L           int64
G           int64
GS          int64
CG          int64
SHO         int64
SV          int64
IPouts      int64
H           int64
ER          int64
HR          int64
BB          int64
SO          int64
BAOpp       float64
ERA         float64
IBB         float64
WP          float64
HBP         float64
BK          int64
BFP         float64
GF          float64
R           int64
SH          float64
SF          float64
GIDP        float64
dtype: object

In [60]:
cols_obj = [cols for cols in pitching.columns if str(pitching[cols].dtype) =="object"]

cols_obj

pitching[cols_obj].describe().T

          count unique        top   freq
playerID  44963  9302   newsobo01  29
teamID    44963  149    PHI        2117
lgID      44832  6      NL         22823

In [61]:
pitching.isnull().sum()

playerID    0
yearID      0
stint       0
teamID      0
lgID        131
W           0
L           0
G           0
GS          0
CG          0
SHO         0
SV          0
IPouts      0
H           0
ER          0
HR          0
BB          0
SO          0
BAOpp       1526
ERA         89
IBB         14575
WP          133
HBP         558
BK          0
BFP         239
GF          133
R           0
SH          32900
SF          32900
GIDP        32902
dtype: int64

In [62]:
batting

         playerID  yearID  stint teamID lgID    G   AB   R    H  2B  3B  HR   RBI   SB   CS  BB     SO  IBB  HBP   SH   SF  GIDP
0       abercda01  1871    1      TRO    NaN  1    4    0   0    0   0   0   0.0   0.0  0.0  0   0.0   NaN  NaN  NaN  NaN  NaN
1       addybo01   1871    1      RC1    NaN  25   118  30  32   6   0   0   13.0  8.0  1.0  4   0.0   NaN  NaN  NaN  NaN  NaN
2       allisar01  1871    1      CL1    NaN  29   137  28  40   4   5   0   19.0  3.0  1.0  2   5.0   NaN  NaN  NaN  NaN  NaN
3       allisdo01  1871    1      WS3    NaN  27   133  28  44   10  2   2   27.0  1.0  1.0  0   2.0   NaN  NaN  NaN  NaN  NaN
4       ansonca01  1871    1      RC1    NaN  25   120  29  39   11  3   0   16.0  6.0  2.0  2   1.0   NaN  NaN  NaN  NaN  NaN
...           ...   ...   ..      ...    ...  ..   ...  ..  ..   .. ..  ..    ...  ...  ... ..   ...    ..   ..   ..   ..   ..
102811  zimmejo02  2016    1      DET    AL   19   4    0   1    0   0   0   0.0   0.0  0.0  0   2.0    0.0  0.0  1.0  0.0  0.0
102812  zimmery01  2016    1      WAS    NL   115  427  60  93   18  1   15  46.0  4.0  1.0  29  104.0  1.0  5.0  0.0  6.0  12.0
102813  zobribe01  2016    1      CHN    NL   147  523  94  142  31  3   18  76.0  6.0  4.0  96  82.0   6.0  4.0  4.0  4.0  17.0
102814  zuninmi01  2016    1      SEA    AL   55   164  16  34   7   0   12  31.0  0.0  0.0  21  65.0   0.0  6.0  0.0  1.0  0.0
102815  zychto01   2016    1      SEA    AL   12   0    0   0    0   0   0   0.0   0.0  0.0  0   0.0    0.0  0.0  0.0  0.0  0.0

[102816 rows x 22 columns]

In [63]:
batting.isnull().sum()

playerID    0
yearID      0
stint       0
teamID      0
lgID        737
G           0
AB          0
R           0
H           0
2B          0
3B          0
HR          0
RBI         424
SB          1300
CS          23456
BB          0
SO          7838
IBB         36565
HBP         2810
SH          6338
SF          36034
GIDP        26110
dtype: int64

In [64]:
###################################################################################################################
###################################################################################################################
###################################################################################################################
###################################################################################################################
###################################################################################################################

In [65]:
battingdata = batting.groupby('playerID', as_index=False).sum()
battingdata.isnull().sum()
#batting.isnull().sum()

playerID    0
yearID      0
stint       0
G           0
AB          0
R           0
H           0
2B          0
3B          0
HR          0
RBI         0
SB          0
CS          0
BB          0
SO          0
IBB         0
HBP         0
SH          0
SF          0
GIDP        0
dtype: int64

In [66]:
battingdata.count()

playerID    18915
yearID      18915
stint       18915
G           18915
AB          18915
R           18915
H           18915
2B          18915
3B          18915
HR          18915
RBI         18915
SB          18915
CS          18915
BB          18915
SO          18915
IBB         18915
HBP         18915
SH          18915
SF          18915
GIDP        18915
dtype: int64

In [67]:
battingdata.head()

    playerID  yearID  stint     G     AB     R     H   2B  3B   HR     RBI     SB    CS    BB      SO    IBB   HBP    SH     SF   GIDP
0  aardsda01  18084   9      331   4      0     0     0    0   0    0.0     0.0    0.0   0     2.0     0.0    0.0   1.0   0.0    0.0
1  aaronha01  45195   23     3298  12364  2174  3771  624  98  755  2297.0  240.0  73.0  1402  1383.0  293.0  32.0  21.0  121.0  328.0
2  aaronto01  13768   7      437   944    102   216   42   6   13   94.0    9.0    8.0   86    145.0   3.0    0.0   9.0   6.0    36.0
3  aasedo01   25786   13     448   5      0     0     0    0   0    0.0     0.0    0.0   0     3.0     0.0    0.0   0.0   0.0    0.0
4  abadan01   6010    3      15    21     1     2     0    0   0    0.0     0.0    1.0   4     5.0     0.0    0.0   0.0   0.0    1.0

In [68]:
battingdata.describe().T

          count          mean          std     min     25%     50%      75%      max
yearID  18915.0  10677.113085  9959.489812  1871.0  2015.0  6042.0  15959.5  58823.0
stint   18915.0  5.858789      5.621206     1.0     1.0     4.0     9.0      39.0
G       18915.0  279.086809    453.824217   1.0     13.0    78.0    329.0    3562.0
AB      18915.0  771.353793    1603.985998  0.0     6.0     71.0    603.0    14053.0
R       18915.0  102.275390    238.578514   0.0     0.0     6.0     63.0     2295.0
H       18915.0  201.880994    450.549938   0.0     1.0     12.0    133.0    4256.0
2B      18915.0  34.185937     79.835905    0.0     0.0     2.0     21.0     792.0
3B      18915.0  7.029712      18.905794    0.0     0.0     0.0     4.0      309.0
HR      18915.0  15.293841     50.240622    0.0     0.0     0.0     4.0      762.0
RBI     18915.0  92.047105     222.361516   0.0     0.0     4.0     54.0     2297.0
SB      18915.0  15.976474     54.707079    0.0     0.0     0.0     5.0      1406.0
CS      18915.0  5.143854      16.352069    0.0     0.0     0.0     1.0      335.0
BB      18915.0  71.029236     175.079949   0.0     0.0     4.0     40.0     2558.0
SO      18915.0  103.085964    226.909601   0.0     1.0     11.0    89.0     2597.0
IBB     18915.0  3.873381      16.743993    0.0     0.0     0.0     0.0      688.0
HBP     18915.0  5.583505      15.570065    0.0     0.0     0.0     3.0      287.0
SH      18915.0  11.729051     28.469311    0.0     0.0     1.0     10.0     512.0
SF      18915.0  3.721649      12.085521    0.0     0.0     0.0     0.0      128.0
GIDP    18915.0  12.088924     33.423978    0.0     0.0     0.0     4.0      350.0

In [69]:
# Checking if playerID values appear uniquely

In [70]:
battingdata[battingdata['playerID']=='cobbty01']

      playerID  yearID  stint     G     AB     R     H   2B   3B   HR     RBI     SB     CS    BB     SO  IBB   HBP     SH   SF  GIDP
3155  cobbty01  45996   24     3035  11434  2246  4189  724  295  117  1937.0  892.0  178.0  1249  357.0  0.0  94.0  295.0  0.0  0.0

In [71]:
batting[batting['playerID']=='cobbty01']

       playerID  yearID  stint teamID lgID    G   AB    R    H  2B  3B  HR    RBI    SB    CS   BB    SO  IBB   HBP    SH  SF  GIDP
9840   cobbty01  1905    1      DET    AL   41   150  19   36   6   0   1   15.0   2.0  NaN    10  NaN   NaN   0.0   4.0  NaN NaN
10243  cobbty01  1906    1      DET    AL   98   358  45   113  15  5   1   34.0   23.0 NaN    19  NaN   NaN   3.0   14.0 NaN NaN
10699  cobbty01  1907    1      DET    AL   150  605  97   212  28  14  5   119.0  49.0 NaN    24  NaN   NaN   5.0   12.0 NaN NaN
11140  cobbty01  1908    1      DET    AL   150  581  88   188  36  20  4   108.0  39.0 NaN    34  NaN   NaN   6.0   14.0 NaN NaN
11627  cobbty01  1909    1      DET    AL   156  573  116  216  33  10  9   107.0  76.0 NaN    48  NaN   NaN   6.0   24.0 NaN NaN
12166  cobbty01  1910    1      DET    AL   140  506  106  194  35  13  8   91.0   65.0 NaN    64  NaN   NaN   4.0   16.0 NaN NaN
12708  cobbty01  1911    1      DET    AL   146  591  147  248  47  24  8   127.0  83.0 NaN    44  NaN   NaN   8.0   11.0 NaN NaN
13282  cobbty01  1912    1      DET    AL   140  553  120  226  30  23  7   83.0   61.0 NaN    43  NaN   NaN   5.0   8.0  NaN NaN
13921  cobbty01  1913    1      DET    AL   122  428  70   167  18  16  4   67.0   51.0 NaN    58   31.0 NaN   4.0   11.0 NaN NaN
14568  cobbty01  1914    1      DET    AL   98   345  69   127  22  11  2   57.0   35.0  17.0  57   22.0 NaN   6.0   6.0  NaN NaN
15352  cobbty01  1915    1      DET    AL   156  563  144  208  31  13  3   99.0   96.0  38.0  118  43.0 NaN   10.0  9.0  NaN NaN
16105  cobbty01  1916    1      DET    AL   145  542  113  201  31  10  5   68.0   68.0  24.0  78   39.0 NaN   2.0   14.0 NaN NaN
16653  cobbty01  1917    1      DET    AL   152  588  107  225  44  24  6   102.0  55.0 NaN    61   34.0 NaN   4.0   16.0 NaN NaN
17174  cobbty01  1918    1      DET    AL   111  421  83   161  19  14  3   64.0   34.0 NaN    41   21.0 NaN   2.0   9.0  NaN NaN
17680  cobbty01  1919    1      DET    AL   124  497  92   191  36  13  1   70.0   28.0 NaN    38   22.0 NaN   1.0   9.0  NaN NaN
18208  cobbty01  1920    1      DET    AL   112  428  86   143  28  8   2   63.0   15.0  10.0  58   28.0 NaN   2.0   7.0  NaN NaN
18721  cobbty01  1921    1      DET    AL   128  507  124  197  37  16  12  101.0  22.0  15.0  56   19.0 NaN   3.0   15.0 NaN NaN
19240  cobbty01  1922    1      DET    AL   137  526  99   211  42  16  4   99.0   9.0   13.0  55   24.0 NaN   4.0   27.0 NaN NaN
19763  cobbty01  1923    1      DET    AL   145  556  103  189  40  7   6   88.0   9.0   10.0  66   14.0 NaN   3.0   22.0 NaN NaN
20292  cobbty01  1924    1      DET    AL   155  625  115  211  38  10  4   78.0   23.0  14.0  85   18.0 NaN   1.0   15.0 NaN NaN
20841  cobbty01  1925    1      DET    AL   121  415  97   157  31  12  12  102.0  13.0  9.0   65   12.0 NaN   5.0   5.0  NaN NaN
21395  cobbty01  1926    1      DET    AL   79   233  48   79   18  5   4   62.0   9.0   4.0   26   2.0  NaN   1.0   13.0 NaN NaN
21935  cobbty01  1927    1      PHA    AL   134  490  104  175  32  7   5   93.0   22.0  16.0  67   12.0 NaN   5.0   12.0 NaN NaN
22476  cobbty01  1928    1      PHA    AL   95   353  54   114  27  4   1   40.0   5.0   8.0   34   16.0 NaN   4.0   2.0  NaN NaN

In [72]:
battingdata[battingdata['playerID']=='aardsda01']

    playerID  yearID  stint    G  AB  R  H  2B  3B  HR  RBI   SB   CS  BB   SO  IBB  HBP   SH   SF  GIDP
0  aardsda01  18084   9      331  4   0  0  0   0   0   0.0  0.0  0.0  0   2.0  0.0  0.0  1.0  0.0  0.0

In [73]:
batting[batting['playerID']=='aardsda01']

        playerID  yearID  stint teamID lgID   G  AB  R  H  2B  3B  HR  RBI   SB   CS  BB   SO  IBB  HBP   SH   SF  GIDP
84639  aardsda01  2004    1      SFN    NL   11  0   0  0  0   0   0   0.0  0.0  0.0  0   0.0  0.0  0.0  0.0  0.0  0.0
87315  aardsda01  2006    1      CHN    NL   45  2   0  0  0   0   0   0.0  0.0  0.0  0   0.0  0.0  0.0  1.0  0.0  0.0
88692  aardsda01  2007    1      CHA    AL   25  0   0  0  0   0   0   0.0  0.0  0.0  0   0.0  0.0  0.0  0.0  0.0  0.0
90077  aardsda01  2008    1      BOS    AL   47  1   0  0  0   0   0   0.0  0.0  0.0  0   1.0  0.0  0.0  0.0  0.0  0.0
91462  aardsda01  2009    1      SEA    AL   73  0   0  0  0   0   0   0.0  0.0  0.0  0   0.0  0.0  0.0  0.0  0.0  0.0
92850  aardsda01  2010    1      SEA    AL   53  0   0  0  0   0   0   0.0  0.0  0.0  0   0.0  0.0  0.0  0.0  0.0  0.0
95595  aardsda01  2012    1      NYA    AL   1   0   0  0  0   0   0   0.0  0.0  0.0  0   0.0  0.0  0.0  0.0  0.0  0.0
97003  aardsda01  2013    1      NYN    NL   43  0   0  0  0   0   0   0.0  0.0  0.0  0   0.0  0.0  0.0  0.0  0.0  0.0
99847  aardsda01  2015    1      ATL    NL   33  1   0  0  0   0   0   0.0  0.0  0.0  0   1.0  0.0  0.0  0.0  0.0  0.0

In [74]:
battingdata

        playerID  yearID  stint     G     AB     R     H   2B  3B   HR     RBI     SB    CS    BB      SO    IBB   HBP    SH     SF   GIDP
0      aardsda01  18084   9      331   4      0     0     0    0   0    0.0     0.0    0.0   0     2.0     0.0    0.0   1.0   0.0    0.0
1      aaronha01  45195   23     3298  12364  2174  3771  624  98  755  2297.0  240.0  73.0  1402  1383.0  293.0  32.0  21.0  121.0  328.0
2      aaronto01  13768   7      437   944    102   216   42   6   13   94.0    9.0    8.0   86    145.0   3.0    0.0   9.0   6.0    36.0
3      aasedo01   25786   13     448   5      0     0     0    0   0    0.0     0.0    0.0   0     3.0     0.0    0.0   0.0   0.0    0.0
4      abadan01   6010    3      15    21     1     2     0    0   0    0.0     0.0    1.0   4     5.0     0.0    0.0   0.0   0.0    1.0
...         ...    ...   ..      ..    ..    ..    ..    ..   ..  ..    ...     ...    ...  ..     ...     ...    ...   ...   ...    ...
18910  zupofr01   5876    3      16    18     3     3     1    0   0    0.0     0.0    0.0   2     6.0     0.0    0.0   0.0   0.0    0.0
18911  zuvelpa01  17875   9      209   491    41    109   17   2   2    20.0    2.0    0.0   34    50.0    1.0    2.0   18.0  0.0    8.0
18912  zuverge01  19551   12     266   142    5     21    2    1   0    7.0     0.0    1.0   9     39.0    0.0    0.0   16.0  0.0    3.0
18913  zwilldu01  7655    4      366   1280   167   364   76   15  30   202.0   46.0   0.0   128   139.0   0.0    4.0   31.0  0.0    0.0
18914  zychto01   4031    2      25    0      0     0     0    0   0    0.0     0.0    0.0   0     0.0     0.0    0.0   0.0   0.0    0.0

[18915 rows x 20 columns]

In [75]:
#####
# Creating a new column called 'xb' which is total extra base hits is the sum of dubles (2B) & Triples (3B)
# To reduce autocorrelation in regression model

In [76]:
battingdata['XB'] = battingdata['2B'] + battingdata['3B']

In [77]:
battingdata.head(50)

     playerID  yearID  stint     G     AB     R     H   2B  3B   HR     RBI     SB     CS    BB      SO    IBB   HBP    SH     SF   GIDP   XB
0   aardsda01  18084   9      331   4      0     0     0    0   0    0.0     0.0    0.0    0     2.0     0.0    0.0   1.0   0.0    0.0    0
1   aaronha01  45195   23     3298  12364  2174  3771  624  98  755  2297.0  240.0  73.0   1402  1383.0  293.0  32.0  21.0  121.0  328.0  722
2   aaronto01  13768   7      437   944    102   216   42   6   13   94.0    9.0    8.0    86    145.0   3.0    0.0   9.0   6.0    36.0   48
3   aasedo01   25786   13     448   5      0     0     0    0   0    0.0     0.0    0.0    0     3.0     0.0    0.0   0.0   0.0    0.0    0
4   abadan01   6010    3      15    21     1     2     0    0   0    0.0     0.0    1.0    4     5.0     0.0    0.0   0.0   0.0    1.0    0
5   abadfe01   16107   9      315   9      0     1     0    0   0    0.0     0.0    0.0    0     5.0     0.0    0.0   0.0   0.0    1.0    0
6   abadijo01  3750    3      12    49     4     11    0    0   0    5.0     1.0    0.0    0     3.0     0.0    0.0   0.0   0.0    0.0    0
7   abbated01  19051   11     855   3044   355   772   99   43  11   324.0   142.0  0.0    289   16.0    0.0    33.0  93.0  0.0    0.0    142
8   abbeybe01  11365   7      79    225    21    38    3    3   0    17.0    3.0    0.0    21    54.0    0.0    0.0   4.0   0.0    0.0    6
9   abbeych01  9475    5      451   1751   307   492   67   46  19   280.0   93.0   0.0    167   105.0   0.0    23.0  18.0  0.0    0.0    113
10  abbotda01  1890    1      3     7      0     1     0    1   0    1.0     1.0    0.0    0     0.0     0.0    0.0   0.0   0.0    0.0    1
11  abbotfr01  5712    3      160   513    48    107   21   6   1    49.0    14.0   0.0    19    0.0     0.0    8.0   20.0  0.0    0.0    27
12  abbotgl01  23743   13     248   0      0     0     0    0   0    0.0     0.0    0.0    0     0.0     0.0    0.0   0.0   0.0    0.0    0
13  abbotje01  9995    5      233   596    82    157   33   2   18   83.0    6.0    5.0    38    91.0    2.0    3.0   5.0   7.0    12.0   35
14  abbotji01  21932   12     263   21     0     2     0    0   0    3.0     0.0    0.0    0     10.0    0.0    0.0   3.0   0.0    1.0    0
15  abbotku01  19971   11     702   2044   273   523   109  23  62   242.0   22.0   11.0   133   571.0   11.0   17.0  21.0  12.0   37.0   132
16  abbotky01  7974    4      57    31     2     3     1    0   0    2.0     0.0    0.0    1     19.0    0.0    0.0   6.0   0.0    0.0    1
17  abbotod01  1910    1      22    70     2     13    2    1   0    6.0     3.0    0.0    6     20.0    0.0    0.0   6.0   0.0    0.0    3
18  abbotpa01  23977   13     162   20     2     5     1    0   0    2.0     0.0    0.0    0     6.0     0.0    0.0   5.0   0.0    0.0    1
19  aberal01   15635   10     168   100    5     14    0    0   0    6.0     0.0    0.0    8     41.0    0.0    0.0   8.0   1.0    2.0    0
20  abercda01  1871    1      1     4      0     0     0    0   0    0.0     0.0    0.0    0     0.0     0.0    0.0   0.0   0.0    0.0    0
21  abercre01  6021    3      180   386    65    86    20   2   9    34.0    18.0   8.0    21    123.0   2.0    7.0   5.0   2.0    3.0    22
22  abernbi01  1952    1      1     1      0     0     0    0   0    0.0     0.0    0.0    0     0.0     0.0    0.0   0.0   0.0    0.0    0
23  abernbr01  10014   6      232   868    97    212   36   5   8    79.0    21.0   7.0    60    93.0    1.0    7.0   16.0  4.0    15.0   41
24  abernte01  5829    3      7     5      0     1     0    0   0    0.0     0.0    0.0    1     3.0     0.0    0.0   0.0   0.0    0.0    0
25  abernte02  33409   21     681   181    12    25    3    0   0    9.0     0.0    0.0    6     74.0    0.0    2.0   15.0  0.0    4.0    3
26  abernwo01  3893    2      16    8      0     0     0    0   0    0.0     0.0    0.0    0     4.0     0.0    0.0   0.0   0.0    0.0    0
27  aberscl01  5844    3      63    179    25    45    7    3   5    26.0    0.0    0.0    25    44.0    0.0    0.0   0.0   0.0    6.0    10
28  ablesha01  5725    3      14    26     0     0     0    0   0    0.0     1.0    0.0    0     0.0     0.0    0.0   0.0   0.0    0.0    0
29  abnersh01  13928   8      392   840    89    191   39   4   11   71.0    6.0    8.0    43    153.0   10.0   7.0   5.0   7.0    14.0   43
30  abramca01  19526   12     567   1611   257   433   64   19  32   138.0   12.0   18.0   304   290.0   2.0    7.0   16.0  4.0    22.0   83
31  abramge01  1923    1      3     1      0     1     0    0   0    0.0     0.0    0.0    0     0.0     0.0    0.0   0.0   0.0    0.0    0
32  abregjo01  1985    1      6     9      0     0     0    0   0    1.0     0.0    0.0    0     2.0     0.0    0.0   0.0   0.0    0.0    0
33  abreubo01  40100   22     2425  8480   1453  2470  574  59  288  1363.0  400.0  128.0  1476  1840.0  115.0  33.0  7.0   85.0   165.0  633
34  abreujo01  1942    1      9     28     4     6     1    0   1    3.0     0.0    0.0    4     4.0     0.0    0.0   0.0   0.0    1.0    1
35  abreujo02  6045    3      458   1793   235   537   101  6   91   308.0   3.0    3.0    137   396.0   33.0   41.0  0.0   14.0   51.0   107
36  abreuju01  2011    1      7     0      0     0     0    0   0    0.0     0.0    0.0    0     0.0     0.0    0.0   0.0   0.0    0.0    0
37  abreuto01  12065   6      224   579    61    147   39   6   6    60.0    2.0    4.0    22    116.0   2.0    5.0   1.0   8.0    20.0   45
38  abreuwi01  8031    5      38    2      0     0     0    0   0    0.0     0.0    0.0    0     1.0     0.0    0.0   0.0   0.0    0.0    0
39  abstebi01  5725    3      170   619    54    150   22   10  1    76.0    21.0   0.0    29    0.0     0.0    4.0   29.0  0.0    0.0    32
40  accarje01  20086   12     262   7      0     1     0    0   0    0.0     0.0    0.0    0     1.0     0.0    0.0   0.0   0.0    0.0    0
41  aceveal01  14077   7      204   2      0     0     0    0   0    0.0     0.0    0.0    0     1.0     0.0    0.0   0.0   0.0    0.0    0
42  acevejo01  10015   5      104   101    2     8     2    0   0    4.0     0.0    0.0    5     61.0    0.0    1.0   12.0  1.0    2.0    2
43  aceveju01  19999   12     367   65     4     6     2    0   0    0.0     0.0    0.0    3     33.0    0.0    0.0   6.0   0.0    2.0    2
44  achteaj01  6045    3      45    0      0     0     0    0   0    0.0     0.0    0.0    0     0.0     0.0    0.0   0.0   0.0    0.0    0
45  ackerji01  23850   14     467   54     2     9     1    0   0    1.0     0.0    0.0    2     32.0    0.0    0.0   0.0   0.0    1.0    1
46  ackerto01  7830    4      153   77     10    5     0    0   0    2.0     0.0    0.0    12    46.0    0.0    1.0   6.0   0.0    1.0    0
47  ackledu01  14096   8      635   2125   261   512   94   18  46   216.0   31.0   12.0   194   419.0   10.0   5.0   11.0  12.0   25.0   112
48  acklefr01  3927    2      5     6      0     2     1    0   0    1.0     0.0    0.0    1     4.0     0.0    0.0   0.0   0.0    0.0    1
49  acostcy01  7894    4      107   7      0     0     0    0   0    0.0     0.0    0.0    0     6.0     0.0    0.0   0.0   0.0    0.0    0

In [78]:
battingdata

        playerID  yearID  stint     G     AB     R     H   2B  3B   HR     RBI     SB    CS    BB      SO    IBB   HBP    SH     SF   GIDP   XB
0      aardsda01  18084   9      331   4      0     0     0    0   0    0.0     0.0    0.0   0     2.0     0.0    0.0   1.0   0.0    0.0    0
1      aaronha01  45195   23     3298  12364  2174  3771  624  98  755  2297.0  240.0  73.0  1402  1383.0  293.0  32.0  21.0  121.0  328.0  722
2      aaronto01  13768   7      437   944    102   216   42   6   13   94.0    9.0    8.0   86    145.0   3.0    0.0   9.0   6.0    36.0   48
3      aasedo01   25786   13     448   5      0     0     0    0   0    0.0     0.0    0.0   0     3.0     0.0    0.0   0.0   0.0    0.0    0
4      abadan01   6010    3      15    21     1     2     0    0   0    0.0     0.0    1.0   4     5.0     0.0    0.0   0.0   0.0    1.0    0
...         ...    ...   ..      ..    ..    ..    ..    ..   ..  ..    ...     ...    ...  ..     ...     ...    ...   ...   ...    ...   ..
18910  zupofr01   5876    3      16    18     3     3     1    0   0    0.0     0.0    0.0   2     6.0     0.0    0.0   0.0   0.0    0.0    1
18911  zuvelpa01  17875   9      209   491    41    109   17   2   2    20.0    2.0    0.0   34    50.0    1.0    2.0   18.0  0.0    8.0    19
18912  zuverge01  19551   12     266   142    5     21    2    1   0    7.0     0.0    1.0   9     39.0    0.0    0.0   16.0  0.0    3.0    3
18913  zwilldu01  7655    4      366   1280   167   364   76   15  30   202.0   46.0   0.0   128   139.0   0.0    4.0   31.0  0.0    0.0    91
18914  zychto01   4031    2      25    0      0     0     0    0   0    0.0     0.0    0.0   0     0.0     0.0    0.0   0.0   0.0    0.0    0

[18915 rows x 21 columns]

In [79]:
battingdata.dtypes

playerID    object
yearID      int64
stint       int64
G           int64
AB          int64
R           int64
H           int64
2B          int64
3B          int64
HR          int64
RBI         float64
SB          float64
CS          float64
BB          int64
SO          float64
IBB         float64
HBP         float64
SH          float64
SF          float64
GIDP        float64
XB          int64
dtype: object

In [80]:
mlb = battingdata.merge(hallOfFame, left_on='playerID', right_on='playerID')
mlb.head(20)

     playerID  yearID  stint     G     AB     R     H   2B  3B   HR     RBI     SB    CS    BB      SO    IBB   HBP     SH     SF   GIDP   XB  yearid          votedBy  ballots  needed  votes inducted category needed_note
0   aaronha01  45195   23     3298  12364  2174  3771  624  98  755  2297.0  240.0  73.0  1402  1383.0  293.0  32.0  21.0   121.0  328.0  722  1982    BBWAA            415.0    312.0   406.0  Y        Player   NaN
1   abbotji01  21932   12     263   21     0     2     0    0   0    3.0     0.0    0.0   0     10.0    0.0    0.0   3.0    0.0    1.0    0    2005    BBWAA            516.0    387.0   13.0   N        Player   NaN
2   adamsba01  36411   19     482   1019   79    216   31   15  3    75.0    1.0    1.0   53    177.0   0.0    1.0   35.0   0.0    0.0    46   1937    BBWAA            201.0    151.0   8.0    N        Player   NaN
3   adamsba01  36411   19     482   1019   79    216   31   15  3    75.0    1.0    1.0   53    177.0   0.0    1.0   35.0   0.0    0.0    46   1938    BBWAA            262.0    197.0   11.0   N        Player   NaN
4   adamsba01  36411   19     482   1019   79    216   31   15  3    75.0    1.0    1.0   53    177.0   0.0    1.0   35.0   0.0    0.0    46   1939    BBWAA            274.0    206.0   11.0   N        Player   NaN
5   adamsba01  36411   19     482   1019   79    216   31   15  3    75.0    1.0    1.0   53    177.0   0.0    1.0   35.0   0.0    0.0    46   1942    BBWAA            233.0    175.0   11.0   N        Player   NaN
6   adamsba01  36411   19     482   1019   79    216   31   15  3    75.0    1.0    1.0   53    177.0   0.0    1.0   35.0   0.0    0.0    46   1945    BBWAA            247.0    186.0   7.0    N        Player   NaN
7   adamsba01  36411   19     482   1019   79    216   31   15  3    75.0    1.0    1.0   53    177.0   0.0    1.0   35.0   0.0    0.0    46   1946    Nominating Vote  202.0   NaN      6.0    N        Player   Top 20
8   adamsba01  36411   19     482   1019   79    216   31   15  3    75.0    1.0    1.0   53    177.0   0.0    1.0   35.0   0.0    0.0    46   1947    BBWAA            161.0    121.0   22.0   N        Player   NaN
9   adamsba01  36411   19     482   1019   79    216   31   15  3    75.0    1.0    1.0   53    177.0   0.0    1.0   35.0   0.0    0.0    46   1948    BBWAA            121.0    91.0    4.0    N        Player   NaN
10  adamsba01  36411   19     482   1019   79    216   31   15  3    75.0    1.0    1.0   53    177.0   0.0    1.0   35.0   0.0    0.0    46   1949    BBWAA            153.0    115.0   5.0    N        Player   NaN
11  adamsba01  36411   19     482   1019   79    216   31   15  3    75.0    1.0    1.0   53    177.0   0.0    1.0   35.0   0.0    0.0    46   1950    BBWAA            168.0    126.0   6.0    N        Player   NaN
12  adamsba01  36411   19     482   1019   79    216   31   15  3    75.0    1.0    1.0   53    177.0   0.0    1.0   35.0   0.0    0.0    46   1951    BBWAA            226.0    170.0   12.0   N        Player   NaN
13  adamsba01  36411   19     482   1019   79    216   31   15  3    75.0    1.0    1.0   53    177.0   0.0    1.0   35.0   0.0    0.0    46   1952    BBWAA            234.0    176.0   9.0    N        Player   NaN
14  adamsba01  36411   19     482   1019   79    216   31   15  3    75.0    1.0    1.0   53    177.0   0.0    1.0   35.0   0.0    0.0    46   1953    BBWAA            264.0    198.0   17.0   N        Player   NaN
15  adamsba01  36411   19     482   1019   79    216   31   15  3    75.0    1.0    1.0   53    177.0   0.0    1.0   35.0   0.0    0.0    46   1954    BBWAA            252.0    189.0   13.0   N        Player   NaN
16  adamsba01  36411   19     482   1019   79    216   31   15  3    75.0    1.0    1.0   53    177.0   0.0    1.0   35.0   0.0    0.0    46   1955    BBWAA            251.0    189.0   24.0   N        Player   NaN
17  adamsbo03  29290   16     1281  4019   591   1082  188  49  37   303.0   67.0   30.0  414   447.0   1.0    17.0  78.0   5.0    62.0   237  1966    BBWAA            302.0    227.0   1.0    N        Player   NaN
18  adamssp01  26997   15     1424  5557   844   1588  249  48  9    394.0   154.0  50.0  453   223.0   0.0    28.0  136.0  0.0    14.0   297  1958    BBWAA            266.0    200.0   1.0    N        Player   NaN
19  adamssp01  26997   15     1424  5557   844   1588  249  48  9    394.0   154.0  50.0  453   223.0   0.0    28.0  136.0  0.0    14.0   297  1960    BBWAA            269.0    202.0   1.0    N        Player   NaN

In [81]:
cols_obj = [cols for cols in mlb.columns if str(mlb[cols].dtype) =="object"]

cols_obj

mlb[cols_obj].describe().T

            count unique        top  freq
playerID     4084  1193   roushed01  20
votedBy      4084  9      BBWAA      3717
inducted     4084  2      N          3833
category     4084  4      Player     4004
needed_note  157   2      1st        81

In [88]:
playerGroup = mlb.groupby(['playerID'],as_index=False).mean()
playerGroup

       playerID   yearID  stint       G       AB       R       H     2B    3B     HR     RBI     SB    CS      BB      SO    IBB   HBP     SH     SF   GIDP     XB       yearid  ballots      needed       votes
0     aaronha01  45195.0  23.0   3298.0  12364.0  2174.0  3771.0  624.0  98.0  755.0  2297.0  240.0  73.0  1402.0  1383.0  293.0  32.0  21.0   121.0  328.0  722.0  1982.000000  415.0    312.000000  406.000000
1     abbotji01  21932.0  12.0   263.0   21.0     0.0     2.0     0.0    0.0   0.0    3.0     0.0    0.0   0.0     10.0    0.0    0.0   3.0    0.0    1.0    0.0    2005.000000  516.0    387.000000  13.000000
2     adamsba01  36411.0  19.0   482.0   1019.0   79.0    216.0   31.0   15.0  3.0    75.0    1.0    1.0   53.0    177.0   0.0    1.0   35.0   0.0    0.0    46.0   1947.066667  216.6    163.571429  11.066667
3     adamsbo03  29290.0  16.0   1281.0  4019.0   591.0   1082.0  188.0  49.0  37.0   303.0   67.0   30.0  414.0   447.0   1.0    17.0  78.0   5.0    62.0   237.0  1966.000000  302.0    227.000000  1.000000
4     adamssp01  26997.0  15.0   1424.0  5557.0   844.0   1588.0  249.0  48.0  9.0    394.0   154.0  50.0  453.0   223.0   0.0    28.0  136.0  0.0    14.0   297.0  1959.000000  267.5    201.000000  1.000000
...         ...      ...   ...      ...     ...     ...      ...    ...   ...  ...      ...     ...   ...    ...     ...   ...     ...    ...  ...     ...     ...          ...    ...           ...       ...
1188  zachrpa01  21782.0  12.0   293.0   318.0    9.0     36.0    0.0    0.0   0.0    6.0     0.0    0.0   14.0    128.0   0.0    0.0   33.0   2.0    11.0   0.0    1991.000000  443.0    333.000000  0.000000
1189  zahnge01   27702.0  15.0   304.0   43.0     3.0     6.0     0.0    0.0   0.0    1.0     0.0    0.0   0.0     9.0     0.0    0.0   10.0   0.0    1.0    0.0    1991.000000  443.0    333.000000  0.000000
1190  zeileto01  41934.0  27.0   2158.0  7573.0   986.0   2004.0  397.0  23.0  253.0  1110.0  53.0   51.0  945.0   1279.0  47.0   42.0  8.0    81.0   223.0  420.0  2010.000000  539.0    405.000000  0.000000
1191  zimmech01  37884.0  21.0   1280.0  4546.0   617.0   1224.0  222.0  76.0  26.0   625.0   151.0  0.0   390.0   323.0   0.0    91.0  49.0   0.0    0.0    298.0  1938.000000  262.0    197.000000  1.000000
1192  ziskri01   25701.0  13.0   1453.0  5144.0   681.0   1477.0  245.0  26.0  207.0  792.0   8.0    15.0  533.0   910.0   52.0   12.0  7.0    41.0   138.0  271.0  1989.000000  447.0    336.000000  0.000000

[1193 rows x 25 columns]

playerID    0
yearID      0
stint       0
G           0
AB          0
R           0
H           0
2B          0
3B          0
HR          0
RBI         0
SB          0
CS          0
BB          0
SO          0
IBB         0
HBP         0
SH          0
SF          0
GIDP        0
XB          0
yearid      0
ballots     22
needed      25
votes       22
dtype: int64

In [90]:
# Delete players who have null values for needed or votes
playerGroup.dropna(subset=["needed","votes"],inplace=True)

In [91]:
playerGroup.isnull().sum()

playerID    0
yearID      0
stint       0
G           0
AB          0
R           0
H           0
2B          0
3B          0
HR          0
RBI         0
SB          0
CS          0
BB          0
SO          0
IBB         0
HBP         0
SH          0
SF          0
GIDP        0
XB          0
yearid      0
ballots     0
needed      0
votes       0
dtype: int64

In [92]:
playerGroup.shape

(1168, 25)